/*********************************
responsive signup page
***********************************/
@media screen and (min-width:376px) {
    .signup-page-title-container{
        align-items:center;
        display: flex;
        flex-direction: column;
        background-position-x: center;
    }
    .inputs-container-signup-page{
        align-items:center;
        display: flex;
        flex-direction: column;
    }
    .signin-btn-container{
        align-items:center;
        display: flex;
        flex-direction: column;
    }
    .signin-methods-signup-page-container{
        align-items:center;
        display: flex;
        flex-direction: column;
    }
}